/Tela.class
/MenuInicial.class
/Simulacao.class
/Simulacao1$Bloco.class
/Simulacao1$ResultadoPotencia.class
/Simulacao1.class
/Main.class
/Aviso.class
/Simulacao1$Bloco$1.class
/BlocoSimulacao1.class
/GraphPanel.class
